.heading {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.message {
  background-color: hsla(var(--h), var(--s), 8%, 1);
  border: 1px solid hsla(var(--h), var(--s), 12%, 1);
  padding: 1rem;
  border-radius: 0.5rem;
}

.message h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.message p {
  font-size: 0.875rem;
  font-weight: 400;
  color: hsla(var(--h), var(--s), 52%, 1);
}

.fallbackText {
  color: hsla(var(--h), var(--s), 50%, 1);
}
